/*header*/
h1{
	font-size: 3em;
	color: #fff;
	font-weight: normal;
	padding: 2%;
}
/*menu*/
nav{
	margin-top: 4%; 
}
nav a{
	text-decoration: none;
	padding: 3%;
	color: #fff;
}
/*seccion fotos/texto*/
h2{
	font-size: 2em;
	font-weight: 500;
}
.img-header{
	width: 100%;	
	height: auto;
}
/*padding*/
.pd-2{ 
	padding: 0 2%;
}
/*seccion fotos y texto*/
/*estilos h4 latest project*/
h4{
	display: inline-block;
}
p{
	padding: 4% 0;
}
.img-main{
	width: 100%;
	margin-bottom: 2%;
}
.normal{
	font-weight: normal;
	padding-left: 1%;
}
.redondo{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: gray;
	padding: 1.5% 1%;
}
div.cuadro{
	padding: 6%;
	margin: 0 1%; 
	color: white;
	display: inline-block;
}
h3{
	font-size: 1em;
}
.inline{
	display: inline;
}
/*boton*/
button{
	border-radius: 10px;
	background-color: #999;
	border: none;
	cursor: pointer;
	font-size: .8em;
}
.btn-read{
	padding: 3%;
	margin-top: 5%;
}
.btn-load{
	padding: 1.5%;
}
/*color rosa*/
.text-rosa{
	color: #e60a77;
	font-weight: bold;
}
/*colores de fondo*/
article{
	background-color: #999;
}
header, footer{
	background-color: #333;
}
section{
	background-color: #fff;
	margin: 0 5%; 
}
.borde{
	border-bottom: 5px solid;
	border-image: url("../img/borde.png") 0 0 29 fill repeat;
}
p{
	text-align: justify;
}
.titulo{
	font-size: 1.5em;
}
li{
	list-style: none;
}
img.borde-redo{
	border: 1px dashed #AAA8A8;
	border-radius: 50%;
	padding: 1%;
}
#derechos{
	text-align: center;
	font-size: .8em;
}
.btn-follow{
	background-color: #e60a77;
	padding: 3% 5%;
	margin-left: 4%;
}
form{
	margin: 4% 0;
}
input{
	background-color: rgba(0,0,0,0.6);
	padding: 5% 3%;
	border-radius: 5px;
	border: none;
}
h5{
	font-size: 1em;
}
.pt-4{
	padding-top: 3%;
	padding-left: 6%;
}
.container-fluid{
	width: 100%;
}
.text-chico{
	font-size: .6em;
}
h6{
	font-size: .8em;
	padding-top: 3%; 
}
.text-grande{
	font-size: 1.5em;
}